Form {
  div {
    margin-top: 0px;
  }
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.category {
  display: inline-block;
  width: 100%;
  height: 10%;
  border: 1px solid silver;
}

.text_area {
  width: 30%;
  height: 100px;
}

.label {
  font-size: 1.3em;
  font-weight: bold;
}
